@media screen and (min-width: 1024px) {
}

@media screen and (max-width: 1024px) {
  .navi img {
    width: 15vw;
    height: auto;

    margin-left: 10vw;
  }

  .navi ul li {
    font-size: 2vw;
  }

  .navi ul {
    margin-right: 70px;
  }
}

@media screen and (max-width: 715px) {
  .navi ul {
    display: none;
  }

  .navi img {
    width: 17vw;
    height: auto;

    margin-left: 10vw;
  }

  .ham {
    display: block;
    font-size: 8vw;
    padding: 1vw;
    margin-right: 30px;
    z-index: 1;
  }

  .mob-menu {
    width: 100%;
    height: auto;
    background-color: rgb(59, 59, 59);
    color: #fff;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  .mob-menu ul {
    margin-top: 80px;
    padding-bottom: 20px;
    margin-left: 40px;
  }

  .mob-menu li {
    padding: 10px;
    font-family: "Poppins";
  }

  .bottom-banner {
    display: flex;
    flex-direction: column;
  }
  .bottom-banner-text-content p {
    text-align: center;
    font-size: 3vw;
  }

  .bottom-banner-cta-btn button {
    padding: 0.5vw 3vw;
    font-size: 3vw;
  }

  .c-form-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .c-form-content-left {
    width: 100%;
    height: auto;
  }

  .c-form-left-card {
    width: 100%;
    height: auto;
    padding: 5px;
    border: #5e5f5f;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-bottom: 15px;
  }

  .c-form-left-card h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 3vw;
  }

  .c-form-left-card i {
    font-size: 3vw;
  }

  .c-form-content-right {
    width: 100%;
    height: auto;
  }

  .c-form-content-right .texts h3 {
    font-size: 3vw;
  }

  .c-form-content-right .texts p {
    font-size: 2vw;
  }

  .c-form-inputs input {
    font-size: 2.5vw;
  }

  .c-form-inputs textarea {
    font-size: 2.5vw;
  }

  .c-form-inputs button {
    font-size: 3vw;
  }
}

@media screen and (max-width: 530px) {
  .hero {
    background-image: url("../assets/contact/contact_mob-bg.png");
    min-height: 300px;
  }
  .navi img {
    width: 20vw;
    height: auto;
    margin-left: 10vw;
  }
  .navi ul {
    display: none;
  }

  .ham {
    display: block;
    font-size: 8vw;
    padding: 1vw;
    margin-right: 30px;
  }
}
